
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --background-custom: #e3fef7;
  --text-custom: #003c43;
  --button-custom: #135d66;
  --logo-custom: #003c43;
  --search-background: #ddf9f2;
  --search-text: #003c43;
  --search-border: #77b0aa;
  --auth-background: #e3fef7;
  --auth-text: #003c43;
  --auth-primary: #135d66;
  --auth-secondary: #ddf9f2;
  --auth-border: #77b0aa;
  --auth-input-bg: #ddf9f2;
  --auth-footer-bg: #e3fef7;
  --auth-footer-text: #135d66;
  --auth-link: #135d66;
  --auth-link-hover: #003c43;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: #135d66;
  --primary-foreground: #e3fef7;

  --secondary: #77b0aa;
  --secondary-foreground: #003c43;

  --muted: #ddf9f2;
  --muted-foreground: #135d66;

  --accent: #77b0aa;
  --accent-foreground: #003c43;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: #77b0aa;
  --input: #ddf9f2;
  --ring: #135d66;

  --radius: 0.5rem;
}

.dark {
  --background: #003c43;
  --foreground: #e3fef7;

  --card: #003c43;
  --card-foreground: #e3fef7;

  --popover: #003c43;
  --popover-foreground: #e3fef7;

  --primary: #77b0aa;
  --primary-foreground: #003c43;

  --secondary: #135d66;
  --secondary-foreground: #e3fef7;

  --muted: #135d66;
  --muted-foreground: #77b0aa;

  --accent: #135d66;
  --accent-foreground: #e3fef7;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: #135d66;
  --input: #135d66;
  --ring: #77b0aa;
}
