
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --search-text: #606060;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --search-text: #fff;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25);
}

/* Toast styles */
[data-sonner-toast] {
  background-color: white !important;
  color: #606060 !important;
  border: 1px solid #e5e7eb !important;
}

[data-sonner-toast]>.sonner-toast-background {
  background-color: white !important;
  color: #606060 !important;
}

/* Import components CSS */
@import './styles/components/theme.css';
@import './styles/components/buttons.css';
@import './styles/components/search.css';

/* Import desktop specific styles */
@import './styles/desktop.css';

/* Homepage specific override for ALL devices */
html.home-page,
body.home-page {
  background-color: #003c43 !important;
  color: #e3fef7;
}

.home-page {
  background-color: #003c43 !important;
}
